<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <script type="text/javascript" src="/cocomic/client/js/jquery-3.6.0.min.js"></script>
    <link href="/cocomic/client/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/cocomic/client/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/path.js"></script>
</head>

<script>
  fetch("/cocomic/client/includes/sidebar.html")
  .then(response => {
    return response.text()
  })
  .then(data => {
    $('.sidebar').html(data);
  });
  fetch("/cocomic/client/includes/header.html")
  .then(response => {
    return response.text()
  })
  .then(data => {
    document.querySelector("header").innerHTML = data;
  });
</script>

<header>

</header>
<script type="text/javascript">
    $(function(){
      $('form').submit(function(){

        $.post(ROOT + "/server/controllers/authen.php",{
                'signin' : 1,
                'Email' : $("[name=Email]").val(),
                'Password' : $("[name=Password]").val(),
              },function(data)  
              {  
                var obj = JSON.parse(data);
                console.log(obj);
                // if(obj.status==1){
                //   window.open(ROOT + "/client/CMS/users","_self");
                // }else{
                //   console.log(obj.message)
                // }
              } )
        return false;
    })
    
    })
</script>
<body>
  
<div class="sidebar">
        
</div>

<div class="row">
  <div class="container" style="width:50%">
<div class="content" >
  <div class="tag-title text-center">
    <span class="">LOGIN</span>
  </div>
    <div class="tag-title" style="font-size: 13px;">
        <form method="POST">
            
            <div class="mb-3">
                <label  class="form-label">User Email</label>
                <input type="email" class="form-control" name="Email" value="" placeholder="User Email" />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="Password" value="" placeholder="Password"/>
            </div>
            <div>
                <a href="">Create new user</a>
            </div>
            <p></p>
            <button type="submit" name="create-user" class="btn btn-primary">Login</button>
        </form>
      
    </div>
    </div>
  </div>
</div>
</body>
<footer class="text-center text-lg-start">

</footer>
</html>


