<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="/salemall/client/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/salemall/client/css/style.css" rel='stylesheet' type='text/css' />
  <link href="/salemall/client/css/blue.css" rel='stylesheet' type='text/css' />
  <script src="/salemall/client/js/jquery.min.js"></script>
  <script src="/salemall/client/js/path.js"></script>
  <!---- start-smoth-scrolling---->
  <script type="text/javascript" src="/salemall/client/js/move-top.js"></script>
  <script type="text/javascript" src="/salemall/client/js/easing.js"></script>
</head>


<script type="text/javascript">
  $(document).ready(function () {

    
    
    var form = document.getElementById("form");
    form.addEventListener("submit", function (e) {
      const user = new FormData();
    user.append('name', document.getElementById("name").value);
    user.append('email', document.getElementById("email").value);
    user.append('password', document.getElementById("password").value);
    user.append('c_password', document.getElementById("c_password").value);
      e.preventDefault();
      $.ajax({
        url: ROOT + "api/auth/register",
        type: 'POST',
        processData: false,
        contentType: false,
        data: user,
        async: false
      })
        .done(function (data) {
          alert('Tạo tài khoản thành công. Vui lòng đăng nhập');
          // localStorage.setItem('accessToken', data.access_token);
          // localStorage.setItem('refreshToken', data.access_token);
          window.open(PATH + "views/auth/login.html", "_self");
        }).fail(function (data) {
          var obj = JSON.parse(data['responseText']);
          console.log(obj);
          if (obj.errors) {
            showError(obj);
          }
        })
    })
  })
  function showError(obj) {
    if (obj.errors.name) {
      var error = '';
      obj.errors.name.forEach(element => {
        error += `<li>${element}</li>`
      });
      var show1 = $(`<ul>${error}</ul>`)
      $('#Pname-error').html(show1);
      setTimeout(function () {
        show1.fadeOut(1000);
      }, 2500);
    }
    if (obj.errors.email) {
      var error = '';
      obj.errors.email.forEach(element => {
        error += `<li>${element}</li>`
      });
      var show2 = $(`<ul>${error}</ul>`)
      $('#Pemail-error').html(show2);
      setTimeout(function () {
        show2.fadeOut(1000);
      }, 2500);
    }
    if (obj.errors.password) {
      var error = '';
      obj.errors.password.forEach(element => {
        error += `<li>${element}</li>`
      });
      var show3 = $(`<ul>${error}</ul>`)
      $('#Ppassword-error').html(show3);
      setTimeout(function () {
        show3.fadeOut(1000);
      }, 2500);
    }
    if (obj.errors.c_password) {
      var error = '';
      obj.errors.c_password.forEach(element => {
        error += `<li>${element}</li>`
      });
      var show4 = $(`<ul>${error}</ul>`)
      $('#Pcpassword-error').html(show4);
      setTimeout(function () {
        show4.fadeOut(1000);
      }, 2500);
    }
  }
</script>

<body>
  <div class="full-height">
    <div class="item">
      <div class="text-center" id="logo">
        <a class="text-title" href="/salemall/client/views/index.html"
          style="font-size: 40px;background: none;border: none;">SALE
          MALL</a>
      </div>
      <div class="tag-title text-center" style="background-color: wheat;">
        <span class="">Create new account</span>
      </div>
      <div class="tag-title" style="font-size: 15px;">
        <form method="POST" id="form">

          <div class="mb-3">
            <label class="form-label" style="padding:10px">User Name</label>
            <input type="text" class="form-control" name="UserName" id="name" value="" placeholder="User Name" />
            <div id="Pname-error" style="text-align: left;padding: 10px 0 0 10px;color:brown;font-weight:bold;padding-left:5px"></div>
          </div>
          <div class="mb-3">
            <label class="form-label" style="padding:10px">User Email</label>
            <input type="email" class="form-control" name="Email" id="email" value="" placeholder="User Email" />
            <div id="Pemail-error" style="text-align: left;padding: 10px 0 0 10px;color:brown;font-weight:bold;padding-left:5px"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="padding:10px">Password</label>
            <input type="password" class="form-control" name="Password" id="password" value="" placeholder="Password" />
            <div id="Ppassword-error" style="text-align: left;padding: 10px 0 0 10px;color:brown;font-weight:bold;padding-left:5px"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" style="padding:10px">Password Confirm</label>
            <input type="password" class="form-control" name="c_password" id="c_password" value=""
              placeholder="Repeat your password" />
            <div id="Pcpassword-error" style="text-align: left;padding: 10px 0 0 10px;color:brown;font-weight:bold;padding-left:5px"></div>
          </div>
          <div class="atb-2" style="padding:10px">
            <a style="font-style: italic;" href="/salemall/client/views/auth/login.html">Back to Login page</a>
            <p></p>
          </div>
          <button type="submit" name="create-user" class="a-btn">Create</button>
        </form>

      </div>
    </div>
  </div>

</body>
<footer class="text-center text-lg-start">

</footer>

</html>