<header>

  </head>

  <body>
    <div class="header-nav">

    </div>

</header>


<script>
  $(document).ready(function () {
    var token = localStorage.getItem('accessToken');
    $('.header-nav').html(`<ul>
        <li>
          <span>SALEMALL</span>

        </li>
        
        <li style="float:right">
          <a href="${PATH}views/auth/signup.html">Đăng ký</a>
        </li>
        <li style="float:right">
          <a href="${PATH}views/auth/login.html"> Đăng nhập</a>
        </li>
        </ul>`);
    if (token) {
      $.ajax({
        url: ROOT + "api/auth/refresh",
        type: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          "Authorization": 'Bearer ' + token,
        },
        async: false
      })
        .done(function (data) {
          getUser()
        }).fail(async function (data) {
          var obj = JSON.parse(data['responseText']);
          console.log(obj)
        })
    }

  })
  function logout() {
    var token = localStorage.getItem('refreshToken');
    $.ajax({
      url: ROOT + "api/auth/logout",
      type: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        "Authorization": 'Bearer ' + token,
      },
      data:JSON.stringify({
        "refreshToken": token
      }),
      async: false
    })
      .done(function (data) {
        localStorage.setItem('accessToken', false);
        localStorage.setItem('refreshToken', false);
        window.location.reload();
      }).fail(async function (data) {
        var obj = JSON.parse(data['responseText']);
        console.log(obj)
      })
  }
  function getUser() {
    var token = localStorage.getItem('accessToken');
    $.ajax({
      url: ROOT + "api/auth/me",
      type: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        "Authorization": 'Bearer ' + token,
      },
      async: false
    })
      .done(function (data) {
        $('.header-nav').html(`<ul>
        <li>
          <span>SALEMALL</span>

        </li>
        <li style="float:right">
          <a href="">Quản lý</a>
        </li>
        <li style="float:right">
          <a onclick="logout() " style="cursor: pointer;">Đăng xuất</a>
        </li>
        <li style="float:right">
          <a >${data.data.name}</a>
        </li>
        </ul>`);

      }).fail(async function (data) {
        var obj = JSON.parse(data['responseText']);
        console.log(obj)

      })
  }
</script>