<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Coffee Break Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <title>Laravel</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />

    <!-- Styles -->

    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/salemall/client/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/salemall/client/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/salemall/client/css/blue.css" rel='stylesheet' type='text/css' />
    <script src="/salemall/client/js/jquery.min.js"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="/salemall/client/js/move-top.js"></script>
    <script type="text/javascript" src="/salemall/client/js/easing.js"></script>
    <script type="text/javascript" src="/salemall/client/js/path.js"></script>
    <script type="text/javascript">
        fetch("/salemall/client/views/layouts/headerCMS.html")
            .then(response => {
                return response.text()
            })
            .then(data => {
                $('.header-block').html(data);
            });
    </script>
</head>
<script>
    var products = [];
    $(document).ready(function () {


        var token = localStorage.getItem('accessToken');
        var myParam = location.search;
        const params = new URLSearchParams(myParam);
        var page = (params.get("page")) ? parseInt(params.get("page")) : 1;
        var search = (params.get("search")) ? params.get("search") : "";

        if (search) {
            $("#blog").html(` `);
            $("#list-title").html(`Kết quả tìm kiếm cho: ${search}`)
        }
        var form = document.getElementById("search-form");
        var searchValue = document.getElementById("search-value");
        form.addEventListener("submit", function (e) {
            e.preventDefault();
            window.open(PATH + "views/manager.html?search=" + searchValue.value, "_self");
        });

        $("#details-block").append(`
        <tr>
                    <th>STT</th>
                    <th>Hình ảnh</th>
                    <th>Sản phẩm</th>
                    <th>Chi tiết sản phẩm</th>
                    <th>Giá</th>
                    <th>SL sản phẩm</th>
                    <th>Thao tác</th>
                </tr>`)
        $.ajax({
            url: ROOT + `api/product?page=${page}&search=${search}`,
            type: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "Authorization": 'Bearer ' + token,
            },
            async: false
        })
            .done(function (data) {
                products = data.data;
                var paginate = '';
                if (data.links.prev) {
                    var prev = page - 1;
                    var createParam = 'page=' + prev;
                    if (search) {
                        createParam += '&search=' + search;
                    }
                    paginate += `<a href="${PATH}views/manager.html?${createParam}"><</a>`;
                }
                paginate += `<button style="margin:10px">${page}</button>`;
                if (data.links.next) {
                    var next = page + 1;
                    var createParam = 'page=' + next;
                    if (search) {
                        createParam += '&search=' + search;
                    }
                    paginate += `<a href="${PATH}views/manager.html?${createParam}">></a>`;
                }
                $("#paginate").html(paginate);
                if (data.data) {
                    var productList = '';
                    var count = (page - 1) * 8;

                    data.data.forEach(element => {

                        count++;
                        $("#details-block").append(`
                        <tr>
                            <td>${count}</td>
                            <td><img src="${element.image}" style="max-width:180px" /></td>
                            <td>${element.name}</td>
                            <td>${element.desc}</td>
                            <td>${element.price}</td>
                            <td>${element.quantity}</td>
                            <td>
                                <button onclick="editModal(${element.id})" class="btn btn-primary">Sửa</button><br><br>
                                <button onclick="deleteProduct(${element.id})" class="btn btn-danger">Xóa</button>
                                
                            </td>
                        </tr>
				`);
                    });
                }

            })
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Pimage-show')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    function openModal() {
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    function updateProduct(id) {
        var token = localStorage.getItem('accessToken');
        const product = new FormData();
        if(document.getElementById("Pimage").value){
            product.append('image', document.getElementById("Pimage").files[0]);
        };
        product.append('name', document.getElementById("Pname").value);
        product.append('desc', document.getElementById("Pdesc").value);
        product.append('price', document.getElementById("Pprice").value);
        product.append('quantity', document.getElementById("Pquantity").value);

        $.ajax({
            url: ROOT + `api/product/` + id +"?_method=PATCH",
            type: 'POST',
            processData: false,
            contentType: false,
            headers: {
                "Authorization": 'Bearer ' + token,
            },
            data: product,
            async: false
        })
            .done(function (data) {
                alert('Thành công!')
                window.location.reload();
            }).fail(function (data) {
                var obj = JSON.parse(data['responseText']);
                if(obj.error){
                    showError(obj);
                    return
                }
                alert('Có lỗi xảy ra vui lòng tải lại')
                window.location.reload();
            })
    }
    function createProduct() {
        var token = localStorage.getItem('accessToken');
        const product = new FormData();
        product.append('name', document.getElementById("Pname").value);
        product.append('image', document.getElementById("Pimage").files[0]);
        product.append('desc', document.getElementById("Pdesc").value);
        product.append('price', document.getElementById("Pprice").value);
        product.append('quantity', document.getElementById("Pquantity").value);
        $.ajax({
            url: ROOT + `api/product`,
            type: 'POST',
            processData: false,
            contentType: false,
            headers: {
                "Authorization": 'Bearer ' + token,
            },
            data: product,
            async: false
        })
            .done(function (data) {
                alert('Thành công!')
                window.location.reload();
            }).fail(function (data) {
                var obj = JSON.parse(data['responseText']);
                if(obj.error){
                    showError(obj);
                    return
                }
                alert('Có lỗi xảy ra vui lòng tải lại')
                window.location.reload();
            })

    }
    function showError(obj) {
        if (obj.errors.image) {
            var error = '';
            obj.errors.image.forEach(element => {
                error += `<li>${element}</li>`
            });
            var show1 = $(`<ul>${error}</ul>`)
            $('#Pimage-error').html(show1);
            setTimeout(function () {
                show1.fadeOut(1000);
            }, 2500);
        }
        if (obj.errors.name) {
            var error = '';
            obj.errors.name.forEach(element => {
                error += `<li>${element}</li>`
            });
            var show2 = $(`<ul>${error}</ul>`)
            $('#Pname-error').html(show2);
            setTimeout(function () {
                show2.fadeOut(1000);
            }, 2500);
        }
        if (obj.errors.desc) {
            var error = '';
            obj.errors.desc.forEach(element => {
                error += `<li>${element}</li>`
            });
            var show3 = $(`<ul>${error}</ul>`)
            $('#Pdesc-error').html(show3);
            setTimeout(function () {
                show3.fadeOut(1000);
            }, 2500);
        }
        if (obj.errors.price) {
            var error = '';
            obj.errors.price.forEach(element => {
                error += `<li>${element}</li>`
            });
            var show4 = $(`<ul>${error}</ul>`)
            $('#Pprice-error').html(show4);
            setTimeout(function () {
                show4.fadeOut(1000);
            }, 2500);
        }
        if (obj.errors.quantity) {
            var error = '';
            obj.errors.quantity.forEach(element => {
                error += `<li>${element}</li>`
            });
            var show5 = $(`<ul>${error}</ul>`)
            $('#Pquantity-error').html(show5);
            setTimeout(function () {
                show5.fadeOut(1000);
            }, 2500);
        }
    }
    function deleteProduct(id) {
        let text = "Bạn chắc chắn muốn xóa chứ?";
        if (confirm(text) == false) {
            return;
        }
        var token = localStorage.getItem('accessToken');
        $.ajax({
            url: ROOT + `api/product/` + id,
            type: 'DELETE',
            processData: false,
            contentType: false,
            headers: {
                "Authorization": 'Bearer ' + token,
            },
            async: false
        })
            .done(function (data) {
                alert('Thành công!')
                window.location.reload();
            }).fail(function (data) {
                var obj = JSON.parse(data['responseText']);
                showError(obj);
            })

    }
    
    function createModal() {

        $('#myModal').html(`
        <div class="modal-content">
        <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Thêm sản phẩm</h2>
            </div>
            <div class="modal-body">
                <div class="formInput">
                    <label for="Pname">Tên sản phẩm</label><br>
                    <input type="text" id="Pname" name="Pname"><br><br>
                    <div id="Pname-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <label for="Pimage">Hình ảnh</label><br><br>
                    <input type='file' onchange="readURL(this);" accept="image/*" id="Pimage" /> <br>
                    <div id="Pimage-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <img id="Pimage-show" src="" style="max-width:180px" alt="your image" /> <br><br>
                    
                    <label for="Pprice">Giá</label><br>
                    <input type="text" id="Pprice" name="Pprice"><br>
                    <div id="Pprice-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <br>
                    <label for="Pquantity">Số lượng </label><br>
                    <input type="text" id="Pquantity" name="Pquantity"><br>
                    <div id="Pquantity-error" style="text-align: left; color:brown;font-weight:bold;padding-left:5px"></div>
                    <br>
                    <label for="Pdesc">Chi tiết sản phẩm</label><br>
                    <textarea id="Pdesc" name="Pdesc" style="width:100%;height:200px"></textarea><br><br>
                    <div id="Pdesc-error" style="text-align: left; color:brown;font-weight:bold;padding-left:5px"></div><br>

                </div>
                <div style="text-align: right;"><button class="btn btn-primary" onClick="createProduct()">Lưu</button></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        `)
        openModal();
    }


    function editModal(id) {

        var item = products.find(item => item.id === id);
        var price = 0;
        if (item.price) {
            price = item.price;
        }
        $('#myModal').html(`
        <div class="modal-content">
        <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Sửa sản phẩm</h2>
            </div>
            <div class="modal-body">
                <div class="formInput">
                    <label for="Pname">Tên sản phẩm</label><br>
                    <input type="text" id="Pname" name="Pname" value="${item.name}"><br><br>
                    <div id="Pname-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <label for="Pimage">Hình ảnh</label><br><br>
                    <input type='file' onchange="readURL(this);" accept="image/*" id="Pimage"/> <br>
                    <div id="Pimage-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <img src="${item.image}" style="max-width:180px" alt="your image" /> <br><br>
                    
                    <label for="Pprice">Giá</label><br>
                    <input type="number" id="Pprice" name="Pprice" value="${price}"><br><br>
                    <div id="Pprice-error" style="text-align: left;color:brown;font-weight:bold;padding-left:5px"></div>
                    <label for="Pquantity">Số lượng </label><br>
                    <input type="text" id="Pquantity" name="Pquantity" value="${item.quantity}"><br>
                    <div id="Pquantity-error" style="text-align: left; color:brown;font-weight:bold;padding-left:5px"></div>
                    <label for="Pdesc">Chi tiết sản phẩm</label><br>
                    <textarea id="Pdesc" name="Pdesc" style="width:100%;height:200px">${item.desc}</textarea><br><br>
                    <div id="Pdesc-error" style="text-align: left; color:brown;font-weight:bold;padding-left:5px"></div><br>
                    <div style="text-align: right;"><button onclick="updateProduct(${item.id})" class="btn btn-primary">Lưu</button></div>

                </div>
            </div>
            <div class="modal-footer">
        </div>
    </div>`)

        openModal();
    }

</script>

<script>

</script>

<body>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Thêm sản phẩm</h2>
            </div>
            <div class="modal-body">
                <div class="formInput">
                    <label for="Pname">Tên sản phẩm</label><br>
                    <input type="text" id="Pname" name="Pname"><br><br>
                    <label for="Pimage">Hình ảnh</label><br><br>
                    <input type='file' onchange="readURL(this);" accept="image/*" /> <br>
                    <img id="Pimage" src="" style="max-width:180px" alt="your image" /> <br><br>

                    <label for="Pprice">Giá</label><br>
                    <input type="text" id="Pprice" name="Pprice"><br><br>
                    <label for="Pquantity">Số lượng</label><br>
                    <input type="text" id="Pquantity" name="Pquantity"><br><br>
                    <label for="Pdesc">Chi tiết sản phẩm</label><br>
                    <input type="text" id="Pdesc" name="Pdesc"><br><br>
                    <div style="text-align: right;"><button class="btn btn-primary">Lưu</button></div>

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
    <div class="header-block"></div>
    <div class="header">
        <div class="container">
            <div class="head">
                <div class="navigation">
                    <span class="menu"></span>
                    <ul class="navig">
                        <li><a href="/salemall/client/views/index.html">Trang chủ</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <form class="search-bar" id="search-form">
                        <input type="text" type="submit" id="search-value" value="Tìm kiếm" onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = '';}">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>

    <div class="single">
        <div class="container">
            <h2 style="font-weight: bold;">Chi tiết sản phẩm</h2>
            <div style="text-align: right;"><button id="myBtn" class="btn btn-success" onclick="createModal()">Tạo
                    mới</button></div>
            <br>

            <table>

                <div class="row" id="details-block">


                </div>

            </table>

        </div>
        <div id="paginate" style="text-align: center;"></div>
    </div>


</body>

</html>